/*
    Student Name: Bee Campbell
    File Name: styles.css
    Date: 05/30/2026
*/

/* CSS Reset */
body, header, nav, main, footer, h1, div, img {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    width: 100%;
}

/* Style rule for header */
header {
    font-size: 26px;
    font-family: "Barlow Condensed", sans-serif;
    background-color: #5d9732;
    height: 90px;
    width: 100%;
    text-align: center;
}

header img {
    height: 48px;
    width: 138px;
    float: left;
    background-color: #5d9732;
    display: block;
    margin-top: -20px;
}

header a {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    margin: 45px 20px;
    display: block;
    float: left;
}

#header-content {
    display: block;
    margin: auto;
    width: 50%;
}

/* Style rule for main */
main {
    display: block;
    margin: 0 16px;
}

/* Style rule for img */
img {
    max-width: 100%;
    display: block;
}

/* Style rule for footer */
footer {
    position: fixed;
    bottom: 0px;
    float: right;
}

/* Style rule for ? id */
#welcome {
    font-size: 20px;
}